// Custom.scss
//Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
html, body, mviewer {
    height: 100%;
    width: 100%;
}

mviewer {
    display: block;
}

.mv-container {
    opacity: 0;
    transition: opacity 3s ease-in-out;

}

.mv-container.ready {
    opacity: 1;

}

/*mviewer-map {
    height: 400px;
    width: 100%;
}*/